In [1]:
import os
import numpy as np
import pandas as pd
import random

In [2]:
def get_img_list(folder):
    imgs = []
    for scene in os.listdir(folder):
        if not scene.startswith('.'):
            for cam in os.listdir(os.path.join(folder,scene)):
                if not cam.startswith('.'):
                    for img in os.listdir(os.path.join(folder,scene,cam)):
                        if not img.startswith('.'):
                            imgs.append(os.path.join(folder, scene, cam, img))
    return imgs

# Generate balanced testset

In [3]:
fall_test = get_img_list('./fall_img_test')
fall_test.sort()
label_fall_test = list(np.ones(len(fall_test)))

not_fall_test = get_img_list('./not_fall_img_test')
random.seed(0)
not_fall_test = random.sample(not_fall_test, len(fall_test))
not_fall_test.sort()
label_not_fall_test = list(np.zeros(len(not_fall_test)))

In [4]:
fall_test.extend(not_fall_test)
label_fall_test.extend(label_not_fall_test)
test = pd.DataFrame({'img':fall_test, 'label':label_fall_test})
test.to_csv('test.csv', index=False)

In [7]:
test

                                          img  label
0        ./fall_img_test/chute21/cam1/223.jpg    1.0
1        ./fall_img_test/chute21/cam1/224.jpg    1.0
2        ./fall_img_test/chute21/cam1/225.jpg    1.0
3        ./fall_img_test/chute21/cam1/226.jpg    1.0
4        ./fall_img_test/chute21/cam1/227.jpg    1.0
..                                        ...    ...
251  ./not_fall_img_test/chute22/cam8/174.jpg    0.0
252  ./not_fall_img_test/chute22/cam8/186.jpg    0.0
253  ./not_fall_img_test/chute22/cam8/187.jpg    0.0
254  ./not_fall_img_test/chute22/cam8/192.jpg    0.0
255  ./not_fall_img_test/chute22/cam8/193.jpg    0.0

[256 rows x 2 columns]

# Generate trainset
test set is balanced, contains in total 256 images  
trainset contains 1616 fall images and 9700 not fall images

In [8]:
fall_train = get_img_list('./fall_img_train')
fall_train.sort()
label_fall_train = list(np.ones(len(fall_train)))

not_fall_train = get_img_list('./not_fall_img_train')
not_fall_train.sort()
label_not_fall_train = list(np.zeros(len(not_fall_train)))

In [9]:
fall_train.extend(not_fall_train)
label_fall_train.extend(label_not_fall_train)
train = pd.DataFrame({'img':fall_train, 'label':label_fall_train})
train.to_csv('train.csv', index=False)

In [10]:
train

                                            img  label
0         ./fall_img_train/chute01/cam1/270.jpg    1.0
1         ./fall_img_train/chute01/cam1/271.jpg    1.0
2         ./fall_img_train/chute01/cam1/272.jpg    1.0
3         ./fall_img_train/chute01/cam1/273.jpg    1.0
4         ./fall_img_train/chute01/cam1/274.jpg    1.0
...                                         ...    ...
11311  ./not_fall_img_train/chute20/cam8/95.jpg    0.0
11312  ./not_fall_img_train/chute20/cam8/96.jpg    0.0
11313  ./not_fall_img_train/chute20/cam8/97.jpg    0.0
11314  ./not_fall_img_train/chute20/cam8/98.jpg    0.0
11315  ./not_fall_img_train/chute20/cam8/99.jpg    0.0

[11316 rows x 2 columns]